@use "./variables" as *

// Global styles
*, *:before, *:after
  margin: 0
  padding: 0
  box-sizing: border-box

html, body, #app
  min-height: 100vh

body
  background-color: $bg-base
  color: $text-primary
  font-size: nth($font-sizes, 2)
  margin: 0 16.66vw

#app
  display: flex
  justify-content: center
  flex-direction: column

@for $i from 1 through length($font-sizes)
  h#{$i}, .h#{$i}
    display: inline-block
    font-size: nth($font-sizes, $i)
    font-weight: inherit
    width: max-content
    max-width: 80vw

.bg-primary
  background-color: $primary

.bg-accent
  background-color: $accent

.text-secondary
  color: $text-secondary

.bold
  font-weight: bolder

// Resets
button, textarea, input
  color: inherit
  font-family: inherit
  font-size: inherit
  outline: none
  border: none

input:-webkit-autofill,
input:-webkit-autofill:hover,
input:-webkit-autofill:focus,
input:-webkit-autofill:active
  -webkit-box-shadow: 0 0 0px 1000px $bg-input inset
  -webkit-text-fill-color: $text-primary !important